# Path options
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch

# Http options
http.cors.enabled: true
http.cors.allow-origin: "*"
http.cors.allow-methods: "*"
http.cors.allow-headers: "*"
